<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-heading" jhiTranslate="myblogApp.course.home.createOrEditLabel">Create or edit a Course</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myblogApp.course.timeRequired" for="field_timeRequired">Time Required</label>
                    <input type="number" class="form-control" name="timeRequired" id="field_timeRequired"
                           formControlName="timeRequired"/>
                    <div *ngIf="editForm.get('timeRequired')!.invalid && (editForm.get('timeRequired')!.dirty || editForm.get('timeRequired')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('timeRequired')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('timeRequired')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myblogApp.course.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" formControlName="order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="panierOption.id === editForm.get('order')!.value?.id ? editForm.get('order')!.value : panierOption" *ngFor="let panierOption of orders; trackBy: trackById">{{ panierOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="myblogApp.course.agents" for="field_agents">Agents</label>
                    <select class="form-control" id="field_agents" multiple name="agents" formControlName="agents">
                        <option [ngValue]="getSelected(editForm.get('agents')!.value, compteOption)" *ngFor="let compteOption of comptes; trackBy: trackById">{{ compteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myblogApp.course.restaurant" for="field_restaurant">Restaurant</label>
                    <select class="form-control" id="field_restaurant" name="restaurant" formControlName="restaurant">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOption.id === editForm.get('restaurant')!.value?.id ? editForm.get('restaurant')!.value : restaurantOption" *ngFor="let restaurantOption of restaurants; trackBy: trackById">{{ restaurantOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
