<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span jhiTranslate="myblogApp.produit.detail.title">Produit</span> {{ produit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myblogApp.produit.name">Name</span></dt>
                <dd>
                    <span>{{ produit.name }}</span>
                </dd>
                <dt><span jhiTranslate="myblogApp.produit.price">Price</span></dt>
                <dd>
                    <span>{{ produit.price }}</span>
                </dd>
                <dt><span jhiTranslate="myblogApp.produit.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ produit.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="myblogApp.produit.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="produit.restaurant">
                        <a [routerLink]="['/restaurant', produit.restaurant?.id, 'view']">{{ produit.restaurant?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
