<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-systeme-paiement-heading" jhiTranslate="myblogApp.systemePaiement.home.createOrEditLabel">Create or edit a Systeme Paiement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="myblogApp.systemePaiement.method" for="field_method">Method</label>
                    <input type="text" class="form-control" name="method" id="field_method"
                           formControlName="method"/>
                    <div *ngIf="editForm.get('method')!.invalid && (editForm.get('method')!.dirty || editForm.get('method')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('method')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="myblogApp.systemePaiement.agents" for="field_agents">Agents</label>
                    <select class="form-control" id="field_agents" multiple name="agents" formControlName="agents">
                        <option [ngValue]="getSelected(editForm.get('agents')!.value, compteOption)" *ngFor="let compteOption of comptes; trackBy: trackById">{{ compteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
