<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="panier">
            <h2><span jhiTranslate="myblogApp.panier.detail.title">Panier</span> {{ panier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="myblogApp.panier.nbElements">Nb Elements</span></dt>
                <dd>
                    <span>{{ panier.nbElements }}</span>
                </dd>
                <dt><span jhiTranslate="myblogApp.panier.price">Price</span></dt>
                <dd>
                    <span>{{ panier.price }}</span>
                </dd>
                <dt><span jhiTranslate="myblogApp.panier.content">Content</span></dt>
                <dd>
                    <span *ngFor="let content of panier.contents; let last = last">
                        <a [routerLink]="['/produit', content?.id, 'view']">{{ content.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="myblogApp.panier.compte">Compte</span></dt>
                <dd>
                    <div *ngIf="panier.compte">
                        <a [routerLink]="['/compte', panier.compte?.id, 'view']">{{ panier.compte?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="myblogApp.panier.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="panier.restaurant">
                        <a [routerLink]="['/restaurant', panier.restaurant?.id, 'view']">{{ panier.restaurant?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/panier', panier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
